Ghada A: Review Comments



The draft flows well and I support this topic. Here is a couple of comments:

General comments:
A use case section would be helpful to motivate the work. Also, a well-defined and founded trust model is needed.

Independently of the pattern, to compute an Aggregated Result, you need all the verifiers to send their partial AR / AR. What do you do if a verifier does not answer?  



[Fig 1 :] 

-	How to select the right verifier for component evidence ? 

-	Verifiers do they have knowledge of the existence of other verifiers? 

-	The Lead verifier to whom does he belong? 


[Page 7]:

“If the Composite Attestation Evidence is
signed, then it validates the integrity of the Evidence by validating
   the signature. ”

GA>> if there is composite evidence, I assume that 
-	there is a “composite signature”. Concretely, something like aggregate signatures. To verify this kind of signatures, the lead verifier needs to have access to the public key of all the components (who participated to the composite evidence and so to the signature).   
Is that something acceptable in your trust model? 


“Lead Verifier has the knowledge about the overall structure of the
      Composite Evidence
”
GA>> but in the introduction, you motivated the document by the fact that in complex and changing environment it is hard to have just one verifier?  For me this assumes that the Lead verifier may not have an overall structure of the composite Attester.

“It decodes the Composite Evidence to extract
      the Component Attester Evidence
”
GA>> extracting means that composite evidence and evidence X are different. This excludes solutions where the Lead verifier forwards the composite evidence with some auxiliary data to enable the verifier X to do the check of evidence X. I would say It decodes the composite evidence to derive the component Attester Evidence”

“4.1.3.  Trust Relationships
In this topology the Lead Verifier is fully trusted by Component
   Attester Verifiers (example Verifier 1).
”
GA>> This assumes that the Lead verifier and the component verifier belongs to the same entity. Is that true? Otherwise, it is a very strong assumption that you may need to revise. Actually, it will strongly depend on the use case. You also should specify what does imply “fully trusted” / “trusted”. 

“Lead Verifier is provisioned with the Trust Anchors
   for Verifier 1..N. »

GA>> what do you mean by “provisioned”? normally a trust Anchor is not a sharable data. It should be private and kept secure within its owner.

[Page 8]

“Verifiers are cascaded to perform the Attestation
   Appraisal.
”

GA>> Who decides the order in the chain? Is the order important? 

“Each Verifier in the chain possess the knowledge of the
   entire Composite Attester topology.
”
GA>> why?  A verifier needs only to know how to derive / extract / retrieve its associated evidence. 

“The Verifier which processes the
   Composite Evidence, Verifies the signature on the Evidence, if
   present.
”
GA>> again, this implies some assumptions, e.g., the credentials to verify the signature. Also, this verifier needs to inform the following verifiers that he properly checked the signature? Or this verification is going to be repeated by all the verifiers? 

“It decodes the Composite Evidence performs Appraisal of the
   Component Attester whose Reference Values and Endorsements are in its
  database.
”
GA>> Here also, this assumes that the verifier knows how to retrieve its associated evidence.  This could be done either by using an external entity (e.g., verifier owner) and / or by introducing some data, in the CE, specific to each verifier/ component. 

[Page 9]

“As shown in the picture, the partial results and Combined Evidence is
   transmitted to a chain of Verifier, till the Appraisal is complete.
   The Verifier combines the incoming partial results, combines the
   results from it own Evidence Appraisal and passes the Aggregated
   Attestation Results to the Verifier from which it receives Combined
   Evidence.
”
GA>> this scenario assumes that the aggregation of the results is done at the first flow “from attester to Verifier N”.  This may imply an important delay. Instead, you can think about transmitting the CE across all the chain and the aggregation of the results occurs when a verifier receives a partial AR. This will enable verifiers to compute their corresponding AR almost at the same time… BUT this option does not work if the partial AR of verifier N depends on partial AR of verifier N-1. 


“   In the cascaded pattern, the communicating Verifiers fully trust each
   other.
”
GA>> you don’t need this. Why? 

“Each Verifier has the trust anchor for the Verifier it is
   communicating to (i.e. either sending information or receiving
   information)
”
GA>> can you explain what do you mean by has the trust anchor?

“Hence RP fully trusts all the
   Verifiers.
”
GA>> when you say X trusts Y. Can you explain what does this imply? It could be useful to have concrete examples.

“4.3.  Hybrid Pattern” 

GA>> for every Pattern, it would be useful to have a concrete example / use case. 
 
 Page 10

“5.  Freshness
”
GA>> this will work if you consider the current trust model (all trusts all) but if you will revise it. I think the freshness should be checked by every verifier in all patterns. 

“   The Verifier is effectively part of the Attesters' and Relying
   Parties' trusted computing base (TCB).
”
GA>> why? 

Page 11

“  there might be a need for confidentiality protection of the
       individual Evidence from Lead Verifier to sub Verifiers.
”
GA>> I would even say that confidentiality should be from Attester to sub-verifier. 

“
   2.  The Verfier always communicates with a known Verifier in the
       chain.  Hence it only maintains the trust roots for its
       communicating Verifier.
”
GA>> it does not work because you previously said that the Attester choose a random verifier to start the verification. This implies that the first verifier may not be the same all the time. This also implies that the chain may change which implies that the neighbors also may change.  This will bring us to the first option: all verifiers know each other, or you can also define a set of neighbors that know each other. 


Here are some answers from my perspective that shared in IETF RATS WG mailing list in August:

Q1:  Independently of the pattern, to compute an Aggregated Result, you need all the verifiers to send their partial AR / AR. What do you do if a verifier does not answer?  
A1: This is very similar to the case of information aggregation in sensor networks. One way to address this situation is to add the redundancy in (sub) Verifiers to reduce the chance that certain Verifier does not answer. Basically, it is also same as the single Verifier case. If one Verifier does not answer, the relying party cannot judge whether one attester is trustworthy or not (so it might query another Verifier). The detail design for this part will be our future consideration.

Q2:  [Fig 1 :] 

-	How to select the right verifier for component evidence ? 

-	Verifiers do they have knowledge of the existence of other verifiers? 

-	The Lead verifier to whom does he belong? 

A2: One way is to config the Lead Verifier, so that it knows which sub-Verifier to contact when it knows the format/head of the sub-Evidences. In the hierarchical model, there is no need for (sub)Verifiers know each other, because they do not interact with each other. The Lead Verifier itself does not necessary need to implement the appraisal logic, so it can act similar to proxy (like skyscanner, google flight) to contact the real Verifiers (like airfrance, Finnair). So it can be a third-party, or certain service that can prove itself really do its job as requested. 



Q3: [Page 7]:

“If the Composite Attestation Evidence is
signed, then it validates the integrity of the Evidence by validating
   the signature. ”

GA>> if there is composite evidence, I assume that 
-	there is a “composite signature”. Concretely, something like aggregate signatures. To verify this kind of signatures, the lead verifier needs to have access to the public key of all the components (who participated to the composite evidence and so to the signature).   
Is that something acceptable in your trust model? 

A3:  At the moment, we consider the case that each sub-Evidence has its own signature, and the overall Evidence has one signature also. Then in such a case, the lead Verifier only needs to have the public key of the lead Attester. The case for the aggregate signature will be our future consideration. 


Q4: “Lead Verifier has the knowledge about the overall structure of the
      Composite Evidence
”
GA>> but in the introduction, you motivated the document by the fact that in complex and changing environment it is hard to have just one verifier?  For me this assumes that the Lead verifier may not have an overall structure of the composite Attester.


A4:  In this case, the lead Verifier does not have the knowledge (golden measurement) to do the appraisal by itself, but it has the knowledge to dispatch the appraisal jobs to the right sub-Verifiers.  


Q5: “It decodes the Composite Evidence to extract
      the Component Attester Evidence
”
GA>> extracting means that composite evidence and evidence X are different. This excludes solutions where the Lead verifier forwards the composite evidence with some auxiliary data to enable the verifier X to do the check of evidence X. I would say It decodes the composite evidence to derive the component Attester Evidence”

A5: The solutions that you have suggested are also interesting, which deserves more discussion. 


Q6: “4.1.3.  Trust Relationships
In this topology the Lead Verifier is fully trusted by Component
   Attester Verifiers (example Verifier 1).
”
GA>> This assumes that the Lead verifier and the component verifier belongs to the same entity. Is that true? Otherwise, it is a very strong assumption that you may need to revise. Actually, it will strongly depend on the use case. You also should specify what does imply “fully trusted” / “trusted”. 

A6: The lead Verifier does not necessary belong to the same entity with the component Verifier, but one role that can be trusted both by the Attester and the component Verifiers.    Currently we have listed certain options and I agree certain more specification will make it more clear. 


Q7: “Lead Verifier is provisioned with the Trust Anchors
   for Verifier 1..N. »

GA>> what do you mean by “provisioned”? normally a trust Anchor is not a sharable data. It should be private and kept secure within its owner.

A7:  Here we mean the Lead Verifier can check the Attestation Result from sub Verifier by check the signature from them, as the Lead Verifier has the public keys of all of them. 

Q8: [Page 8]

“Verifiers are cascaded to perform the Attestation
   Appraisal.
”

GA>> Who decides the order in the chain? Is the order important? 

A8: Whether the order is important depends on the cases. This is the part will be further explored. 

Q9: “Each Verifier in the chain possess the knowledge of the
   entire Composite Attester topology.
”
GA>> why?  A verifier needs only to know how to derive / extract / retrieve its associated evidence. 


A9: The topology can be considered as part of the information inside the Evidence. 


Q10: “The Verifier which processes the
   Composite Evidence, Verifies the signature on the Evidence, if
   present.
”
GA>> again, this implies some assumptions, e.g., the credentials to verify the signature. Also, this verifier needs to inform the following verifiers that he properly checked the signature? Or this verification is going to be repeated by all the verifiers? 


“It decodes the Composite Evidence performs Appraisal of the
   Component Attester whose Reference Values and Endorsements are in its
  database.
”
GA>> Here also, this assumes that the verifier knows how to retrieve its associated evidence.  This could be done either by using an external entity (e.g., verifier owner) and / or by introducing some data, in the CE, specific to each verifier/ component. 



A10: This is the interesting part that the partial AR and the original Evidence becomes an “Evidence“ for the next Verifier. I think this might be further discussed in the design team meeting in the remote attestation for complex scenarios. 


Q11: [Page 9]

“As shown in the picture, the partial results and Combined Evidence is
   transmitted to a chain of Verifier, till the Appraisal is complete.
   The Verifier combines the incoming partial results, combines the
   results from it own Evidence Appraisal and passes the Aggregated
   Attestation Results to the Verifier from which it receives Combined
   Evidence.
”
GA>> this scenario assumes that the aggregation of the results is done at the first flow “from attester to Verifier N”.  This may imply an important delay. Instead, you can think about transmitting the CE across all the chain and the aggregation of the results occurs when a verifier receives a partial AR. This will enable verifiers to compute their corresponding AR almost at the same time… BUT this option does not work if the partial AR of verifier N depends on partial AR of verifier N-1. 

A11: Yes. The efficiency is also a part can be further discussed.


Q12: “   In the cascaded pattern, the communicating Verifiers fully trust each
   other.
”
GA>> you don’t need this. Why? 

A12:  In current draft, we list certain options for the cascade pattern, other options are also possible and under investigation. 

Q13: “Each Verifier has the trust anchor for the Verifier it is
   communicating to (i.e. either sending information or receiving
   information)
”
GA>> can you explain what do you mean by has the trust anchor?

A13: This part can be referred to YD’s answer.


Q14: “Hence RP fully trusts all the
   Verifiers.
”
GA>> when you say X trusts Y. Can you explain what does this imply? It could be useful to have concrete examples.


A14: The methods mentioned in section 7 of RFC9334 are possible solutions.


Q15: “4.3.  Hybrid Pattern” 

GA>> for every Pattern, it would be useful to have a concrete example / use case. 

A15:  That is a good suggestion and we are also welcome vendors that have such needs to contribute. 

Q16:  Page 10

“5.  Freshness
”
GA>> this will work if you consider the current trust model (all trusts all) but if you will revise it. I think the freshness should be checked by every verifier in all patterns. 

A16: Yes. The design of freshness mechanism will also be an interesting part to explore in the multiple Verifier framework. 


Q17: “   The Verifier is effectively part of the Attesters' and Relying
   Parties' trusted computing base (TCB).
”
GA>> why? 

A17: That means,  in order to make the whole procedure of attestation work, there should be certain trust relationship between attester, relying party and Verifiers.

Q18: Page 11

“  there might be a need for confidentiality protection of the
       individual Evidence from Lead Verifier to sub Verifiers.
”
GA>> I would even say that confidentiality should be from Attester to sub-verifier. 

A18: This depends on whether the Attester has the requirement for confidentiality. If it does not have such a requirement, then the confidentiality protection from Lead Verifier to sub Verifiers might not be necessary.

Q16: “
   2.  The Verfier always communicates with a known Verifier in the
       chain.  Hence it only maintains the trust roots for its
       communicating Verifier.
”
GA>> it does not work because you previously said that the Attester choose a random verifier to start the verification. This implies that the first verifier may not be the same all the time. This also implies that the chain may change which implies that the neighbors also may change.  This will bring us to the first option: all verifiers know each other, or you can also define a set of neighbors that know each other. 

A16: This leads to a more general problem: discovery of Verifiers, Format of Composite Evidence, Format of Aggregated Attestation Results, Appraisal of Verifiers to the composite Evidence, supply chain for composite device, which is the topic that remote attestation in the complex scenarios might address. For the current version, I agree with Yogesh that we will revisit the text and to make it more clear. 
